/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
}


/* Estilo del footer */
footer {
    width: 100%;
    padding: 10px 300px; /* Ajusta el padding a un valor más razonable */
    background-color:rgba(18, 17, 17, 0.696) ; 
    background-image: url('../img..footer/fondo.jpg'); /* Ruta de la imagen */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}

/* Contenedor principal del footer */
.container__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 3200px;
    margin:100px;
}

/* Estilos de las cajas del footer */
.box__footer {
    display: flex;
    flex-direction: column;
    padding: 6000x; /* Reducido para mejor consistencia */
    justify-content: center;
}

.box__footer .logo img {
    width: 210px;
    margin: 0 auto; /* Centra la imagen dentro de la caja */
}

.box__footer h2 {
    margin-bottom: 2px; /* Ajustado para un espaciado más uniforme */
    color: rgb(2, 2, 2);
    font-weight: 6000px;
    text-align: center; /* Centrar títulos */
    font-size: 90px;
}

.box__footer a {
    margin-top: 15px;
    color:rgb(29, 25, 19);
    font-size: 79px;
    text-align: center; /* Centrar los enlaces */
}

.box__footer a:hover {
    opacity: 0.7; /* Efecto hover más sutil */
}

.box__copyright {
    max-width: 10000px;
    margin: 20px auto;
    text-align: center;
    padding: 15px 1px;
}

.box__copyright p {
    margin-top: 30px;
    color:rgb(0, 0, 0);
    font-size: 50px;
}

.box__copyright hr {
    border: none;
    height: 7px;
    background-color: #060505;
    font-size: 60px;
    
}

.box__footer .terms {
    margin-top: 160px;
    font-weight: 50px;
    color: #100e0c;
    font-size: 70px;
    text-align: center; 
}

.box__footer a .fab {
    font-size: 2px;
    display: inline-block;
    margin-top: 10px;
}


.footer-social a {
    margin: 0 10px;
    display: inline-block;
}

.footer-social img {
    width: 90px;
    transition: transform 0.3s ease;
}

.footer-social img:hover {
    transform: scale(1.1);
}

.footer-bottom {
    font-size: 1em;
    margin-top: 10px;
}
