nav
{
   position:center; 
   justify-content: space-between;
   background: rgba(182, 108, 4, 0.251);
   font-weight: 40px;
   font-size: 100px;
   display: flex;
   padding: 30px;
   width: 100%;
}


.logo img {
    width: 250px;
    height: 250px;
    transition: transform 0.3s ease, filter 0.3s ease;
    border-radius: 100%;
    margin-right: 90px;
}

.logo {
    width: 100px; /* Tamaño inicial */
    transition: transform 0.3s ease; /* Suaviza la animación */
}

.logo:hover {
    transform: scale(1.2); /* Aumenta el tamaño al 120% */
}



nav .item
{
    font-size: 98px;
    display: inline-block;
    position: center;
    padding: 0 25px;
    cursor: pointer;
    z-index: 5;
    min-height: 25%;
    height: 240px;
    line-height: 150px;
    text-align: center;
}

.dropdown > div
{
    translate: 0 -100%;
    transition: all 0.5s 0.1s;
    position: relative;
}

.dropdown
{
    overflow: hidden;
    list-style: none;
    position: center;
    padding: 0;
    width: 100%;
    left:0;
    top: 80px;
}

.dropdown a
{
    display: block;
    padding: 0;
    width: 100%;
    height: 180px;
    line-height: 100px;
    font-size:70px ;
    
}

.dropdown a:hover
{
   
   border-radius: 5px; 
}

.underline
{
    height: 6px;
    background: grey;
    position: center;
    bottom: 10px;
    border-radius: 5px;
    width: 300%;
    z-index: 2;
    pointer-events: none;
    transition: 0.35s;
}


nav .item:hover > .dropdown > div
{
    translate: 0;
}

/* Redes sociales */
.social-icons {
    display: flex;
    gap: 20px;
}

.social-icons a {
    display: inline-block;
    width: 180px;
    height: 100px;
}

.social-icons img {
    width: 70%;
    height: 140%;
    object-fit: contain;
}